*{
    margin: 0;
    padding: 0;
    color: black;
}
a {
    text-decoration: none;
    color: whitesmoke;
}
header,
footer {
    background-color: black;
    color: white;
    padding: 2%;
}
main {
    height: 74vh;
}

.btn-add {
    color: black;
    padding: 1%;
    margin-left: 5%;
}
._article {
    display: flex;
    flex-wrap: wrap;
}
.card {
    padding: 2%;
    border: 2px black solid;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 2%;
    width: 20%;
    box-shadow: 10px 5px 5px rgb(65, 64, 64);
}
.hidden {
    visibility: hidden;
}